@font-face {
  font-family: "iconfont"; /* Project id 4740741 */
  src: url('iconfont.woff2?t=1740756368741') format('woff2'),
       url('iconfont.woff?t=1740756368741') format('woff'),
       url('iconfont.ttf?t=1740756368741') format('truetype'),
       url('iconfont.svg?t=1740756368741#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang:before {
  content: "\e665";
}

.icon-gengduo:before {
  content: "\e600";
}

.icon-jiantouzuo:before {
  content: "\e929";
}

.icon-jiantouyou:before {
  content: "\e92b";
}

.icon-yuyan:before {
  content: "\e640";
}

.icon-zhuti:before {
  content: "\e65e";
}

.icon-language-en:before {
  content: "\e709";
}

.icon-language-zh:before {
  content: "\e601";
}

.icon-yonghu:before {
  content: "\e6aa";
}

.icon-tuichu:before {
  content: "\e651";
}

.icon-lanmuzhankai:before {
  content: "\e61e";
}

.icon-lanmushouqi:before {
  content: "\e61f";
}

